<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= identity[0] %></title>

  <!-- BOOTSTRAP v5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="/stylesheets/home.css">

  <!-- GOOGLE FONTS ROBOTO FONT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="/stylesheets/all.css">

</head>


<body class="vh-100 body bodyFade overflow-auto">
  <%- include('./partials/navbar') %>
  <main class="container pt-5 vh-100" id="mainView">
    <h1 class="text-white text-center pt-3">
      <%= deck_name %>
    </h1>

    <div class="row overflow-auto">
      <!-- <div class="col-6 col-md-4 col-sm-2"> -->
      <div class="d-flex">
        <h3 class="text-white">Identity:</h3>
        <ul>
          <li class="text-white">
            <a class=""><span id="<%= identity[0].id %>"><%= identity[0].title %></span></a>
          </li>
        </ul>
      </div>

      <!-- <div class="col-6 col-md-4 col-sm-2"> -->
      <div class="d-flex">
        <h3 class="text-white">Events:</h3>
        <ul>
          <% for( let i = 0; i < event.length; i++ ) { %>
          <li class="text-white" style="list-style-type: '<%= event[i].amount %>x  '">
            <a class=""><span id="<%= event[i].id %>"><%= event[i].title %></span></a>
          </li>
          <% } %>
        </ul>
      </div>

      <!-- <div class="col-6 col-md-4 col-sm-2"> -->
      <div class="d-flex">
        <h3 class="text-white">Hardware:</h3>
        <ul>
          <% for( let i = 0; i < hardware.length; i++ ) { %>
          <li class="text-white" style="list-style-type: '<%= hardware[i].amount %>x  '">
            <a class=""><span id="<%= hardware[i].id %>"><%= hardware[i].title %></span></a>
          </li>
          <% } %>
        </ul>
      </div>


      <!-- <div class="col-6 col-md-4 col-sm-2"> -->
      <div class="d-flex">
        <h3 class="text-white">Resources:</h3>
        <ul>
          <% for( let i = 0; i < resource.length; i++ ) { %>
          <li class="text-white" style="list-style-type: '<%= resource[i].amount %>x  '">
            <a class=""><span id="<%= resource[i].id %>"><%= resource[i].title %></span></a>
          </li>
          <% } %>
        </ul>
      </div>

      <!-- <div class="col-6 col-md-4 col-sm-2"> -->
      <div class="d-flex">
        <h3 class="text-white">Icebreakers:</h3>
        <ul>
          <% for( let i = 0; i < icebreaker.length; i++ ) { %>
          <li class="text-white" style="list-style-type: '<%= icebreaker[i].amount %>x  '">
            <a class=""><span id="<%= icebreaker[i].id %>"><%= icebreaker[i].title %></span></a>
          </li>
          <% } %>
        </ul>
      </div>

      <!-- <div class="col-6 col-md-4 col-sm-2"> -->
      <div class="d-flex">
        <h3 class="text-white">Programs:</h3>
        <ul>
          <% for( let i = 0; i < program.length; i++ ) { %>
          <a>
            <li class="text-white" style="list-style-type: '<%= program[i].amount %>x  '">
              <a class=""><span id="<%= program[i].id %>"><%= program[i].title %></span></a>
            </li>
          </a>
          <% } %>
        </ul>
      </div>

    </div>
    </div>
    <div class="row">
      <div class="col-6 col-lg-5 col-xl-4">
        <img src="<%= allImages[identity[0].id] %> " alt="" class="img-fluid" id="img<%= identity[0].id %>">
        <% for( let i = 0; i < allImages.length; i++ ) { %>
        <img src="<%= allImages[i] %> " alt="" class="img-fluid d-none" id="img<%= i %>">
        <% } %>

      </div>
    </div>

    <div>
      <div class="row">
        <div class="col-6 text-white">
          <%- deck_description %>
        </div>
      </div>
    </div>

  </main>

  <%- include('./partials/footer') %>



  <!-- JQUERY -->
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
  </script>

  <!-- BOOTSTRAP v5 -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>

  <script src="/javascripts/prompts.js"></script>

  <!-- CONTROLS WHICH IMAGES APPEAR ON SCREEN -->
  <script>
    const allImgs = <%- JSON.stringify(allImages) %>;
    for (let i = 0; i < allImgs.length; i++) {
      $('#' + i).hover(() => {
        for (let j = 0; j < allImgs.length; j++) {
          // console.log(j)
          $('#img' + j).addClass('d-none');
        }
        // console.log(i);
        $('#img' + i).removeClass('d-none');
      })
    }
  </script>

  <script>
    const x = window.matchMedia("(max-width: 900px)");

    function myFunc(x) {
      if (x.matches) {
        $('#mainView').removeClass('vh-100');
      } else {
        $('#mainView').addClass('vh-100');
      }
    };

    myFunc(x);
    x.addListener(myFunc);
  </script>

  <!-- FONT AWESOME -->
  <script defer src="/javascripts/all.js"></script>

</body>

</html>