<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= identity[0].title %></title>

  <!-- BOOTSTRAP v5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="/stylesheets/home.css">

  <!-- GOOGLE FONTS ROBOTO FONT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="/stylesheets/all.css">

  <link rel="stylesheet" href="/stylesheets/runner.css">

  <!-- DETERMINES WHICH CARD IS SHOWN DEPENDING ON LAST HOVER OVER -->
  <script>
    window.onload = function() {
      const allImgs = <%- JSON.stringify(allImages) %>;
      for (let i = 0; i < allImgs.length; i++) {
        $('.' + i).hover(() => {
          for (let j = 0; j < allImgs.length; j++) {
            // console.log(j)
            $('.img' + j).addClass('d-none');
          }
          // console.log(i);
          $('.img' + i).removeClass('d-none');
        })
      };
    }
  </script>

</head>


<body class="body bodyFade overflow-auto">
  <%- include('./partials/navbar') %>
  <main class="container pt-5" id="mainView">
    <h1 class="text-white text-center pt-3">
      <%= deck_name %>
    </h1>

    <div class="row mb-3">

      <div class="col-sm-6">
        <!-- IDENTITY -->
        <h3 class="text-white pt-2">Identity:</h3>
        <div class="text-white">
          <a class="<%= identity[0].id %> iosModal" data-bs-toggle="modal" data-bs-target="#cardModal"
            data-bs-whatever="<%= identity[0].id %>id0"><span
              id="<%= identity[0].id %>"><%= identity[0].title %></span></a>
        </div>


        <!-- EVENTS -->
        <% if (event.length != 0) { %>
        <h3 class="text-white pt-2">Events: [<%= totalCardDistribution.event %>]</h3>
        <% for( let i = 0; i < event.length; i++ ) { %>
        <div class="text-white">
          <%= event[i].amount %>x
          <a class="<%= event[i].id %> iosModal" data-bs-toggle="modal" data-bs-target="#cardModal"
            data-bs-whatever="<%= event[i].id %>e<%= i %>"><span
              id="<%= event[i].id %>"><%= event[i].title %></span></a>
        </div>
        <% } %>
        <% } %>


        <!-- RESOURCES -->
        <% if (resource.length != 0) { %>
        <h3 class="text-white pt-2">Resources: [<%= totalCardDistribution.resource %>]</h3>
        <% for( let i = 0; i < resource.length; i++ ) { %>
        <div class="text-white">
          <%= resource[i].amount %>x
          <a class="<%= resource[i].id %> iosModal" data-bs-toggle="modal" data-bs-target="#cardModal"
            data-bs-whatever="<%= resource[i].id %>r<%= i %>"><span
              id="<%= resource[i].id %>"><%= resource[i].title %></span></a>
        </div>
        <% } %>
        <% } %>
      </div>


      <div class="col-sm-6">
        <!-- HARDWARE -->
        <% if (hardware.length != 0) { %>
        <h3 class="text-white pt-2">Hardware: [<%= totalCardDistribution.hardware %>]</h3>
        <% for( let i = 0; i < hardware.length; i++ ) { %>
        <div class="text-white">
          <%= hardware[i].amount %>x
          <a class="<%= hardware[i].id %> iosModal" data-bs-toggle="modal" data-bs-target="#cardModal"
            data-bs-whatever="<%= hardware[i].id %>h<%= i %>"><span
              id="<%= hardware[i].id %>"><%= hardware[i].title %></span></a>
        </div>
        <% } %>
        <% } %>


        <!-- ICEBREAKERS -->
        <% if (icebreaker.length != 0) { %>
        <h3 class="text-white pt-2">Icebreakers: [<%= totalCardDistribution.icebreaker %>]</h3>
        <% for( let i = 0; i < icebreaker.length; i++ ) { %>
        <div class="text-white">
          <%= icebreaker[i].amount %>x
          <a class="<%= icebreaker[i].id %> iosModal" data-bs-toggle="modal" data-bs-target="#cardModal"
            data-bs-whatever="<%= icebreaker[i].id %>i<%= i %>"><span
              id="<%= icebreaker[i].id %>"><%= icebreaker[i].title %></span></a>
        </div>
        <% } %>
        <% } %>


        <!-- PROGRAMS -->
        <% if (program.length != 0) { %>
        <h3 class="text-white pt-2">Programs: [<%= totalCardDistribution.program %>]</h3>
        <% for( let i = 0; i < program.length; i++ ) { %>
        <div class="text-white">
          <%= program[i].amount %>x
          <a class="<%= program[i].id %> iosModal" data-bs-toggle="modal" data-bs-target="#cardModal"
            data-bs-whatever="<%= program[i].id %>p<%= i %>"><span
              id="<%= program[i].id %>"><%= program[i].title %></span></a>
        </div>
        <% } %>
        <% } %>
      </div>

      <!-- 55 Closing Row Div -->
    </div>


    <!-- LOADS ALL IMAGES HERE, A SCRIPT RUNS AFTERWARD TO DETERMINE WHICH CARD IS SHOWN -->
    <div class="row mb-3 pb-5">
      <div class="col-sm-6 col-lg-4 d-none d-sm-block">
        <img src="<%= allImages[identity[0].id] %> " alt="" class="img-fluid img<%= identity[0].id %>"
          id="img<%= identity[0].id %>">
        <% for( let i = 0; i < allImages.length; i++ ) { %>
        <% if (i === parseInt(identity[0].id)) { %>
        <% continue; %>
        <% } %>
        <img src="<%= allImages[i] %> " alt="" class="img-fluid d-none img<%= i %>" id="img<%= i %>">
        <% } %>
      </div>

      <div class="col-sm-6 col-lg-8 text-white" id="deckDescription">

      </div>

    </div>

  </main>






  <!-- BOOTSTRAP v5 -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>

  <!-- JQUERY -->
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
  </script>

  <script src="/javascripts/prompts.js"></script>

  <!-- LOADS EACH RUNNER'S GUIDE -->
  <script>
    $("#deckDescription").load("/deck_list_helper/<%= runner %>.html");

    const x = window.matchMedia("(max-width: 900px), (max-height: 900px), (display-mode: fullscreen)");
    function myFunc(x) {
      if (x.matches) {
        $('#mainView').removeClass('vh-100');
      } else {
        $('#mainView').addClass('vh-100');
      }
    };
    myFunc(x);
    x.addListener(myFunc);
  </script>

  <!-- FONT AWESOME -->
  <script defer src="/javascripts/all.js"></script>

  <!-- CARD PAGE MODAL -->
  <div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <h3 class="modal-title"></h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            aria-hidden="true"></button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6 col-lg-5">
              <img class="img-fluid text-center" src="https://netrunnerdb.com/card_image/large/04109.jpg"
                alt="Card Missing Placeholder" id="modalImg">
            </div>

            <div class="col-sm-6 col-lg-7">
              <div class="card-info">
                <strong><span class="card-type"></span></strong>
                <span class="card-keywords"></span> •
                <span class="card-prop"></span>
              </div>

              <p class="card-text border-top" style="white-space: pre-line">

              </p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <a class="btn btn-default card-modal-link text-white" target="_blank">NRDB Page</a>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    const allImgs = <%- JSON.stringify(allImages) %>;
    const identity = <%- JSON.stringify(identity) %>;
    const event = <%- JSON.stringify(event) %>;
    const hardware = <%- JSON.stringify(hardware) %>;
    const program = <%- JSON.stringify(program) %>;
    const icebreaker = <%- JSON.stringify(icebreaker) %>;
    const resource = <%- JSON.stringify(resource) %>;
    const cardModal = document.getElementById('cardModal');
    console.log(identity)
    console.log(event)
    console.log(hardware)
    console.log(program)
    console.log(icebreaker)
    console.log(resource)
    cardModal.addEventListener('show.bs.modal', function (e) {
      // Button that triggered the modal
      const button = e.relatedTarget;
      // Extract info from data-bs-* attributes
      var cardCodeRegex = button.getAttribute('data-bs-whatever');
      const card_id = button.getAttribute('data-bs-whatever').match(/(\d+)(?=\w)/)[0];
      
      // console.log(card_id);
      const card_type = button.getAttribute('data-bs-whatever').match(/[a-z]+/)[0];
      // console.log(card_type);
      const card_array_index = button.getAttribute('data-bs-whatever').match(/(?<=\D)(\d+)/)[0];
      // console.log(card_array_index);
      // If necessary, you could initiate an AJAX request here
      // and then do the updating in a callback.
      //
      // Update the modal's content.
      var modalTitle = cardModal.querySelector('.modal-title');
      var modalBodyInput = cardModal.querySelector('.modal-body card-info');
      var modalImage = cardModal.querySelector('#modalImg');
      var cardType = cardModal.querySelector('.card-type');
      var cardKeywords = cardModal.querySelector('.card-keywords');
      var cardProp = cardModal.querySelector('.card-prop');
      var cardText = cardModal.querySelector('.card-text');
      var cardModalLink = cardModal.querySelector('.card-modal-link');

      // console.log(event)
      // console.log(hardware)
      // console.log(program)
      // console.log(icebreaker)
      // console.log(resource)

      switch (card_type) {
        case 'e':
          var { title, type_code, keywords, cost, full_text, card_code } = event[card_array_index];
          modalTitle.textContent = title;
          modalImage.src = allImgs[card_id];
          cardType.textContent = type_code.toUpperCase() + ': ';
          cardKeywords.textContent = keywords;
          cardProp.textContent = cost + 'Credits';
          cardText.innerHTML = full_text;
          cardModalLink.href = 'https://netrunnerdb.com/en/card/' + card_code;
          break;
        case 'h':
          var { title, type_code, keywords, cost, full_text, card_code } = hardware[card_array_index];
          modalTitle.textContent = title;
          modalImage.src = allImgs[card_id];
          cardType.textContent = type_code.toUpperCase() + ': ';
          cardKeywords.textContent = keywords;
          cardProp.textContent = cost + 'Credits';
          cardText.innerHTML = full_text;
          cardModalLink.href = 'https://netrunnerdb.com/en/card/' + card_code;
          break;
        case 'p':
          var { title, type_code, keywords, cost, memory_cost, full_text, card_code } = program[card_array_index];
          modalTitle.textContent = title;
          modalImage.src = allImgs[card_id];
          cardType.textContent = type_code.toUpperCase() + ': ';
          cardKeywords.textContent = keywords;
          cardProp.textContent = cost + 'Credits - ' + memory_cost + 'MU';
          cardText.innerHTML = full_text;
          cardModalLink.href = 'https://netrunnerdb.com/en/card/' + card_code;
          break;
        case 'i':
          var { title, type_code, keywords, cost, memory_cost, full_text, card_code } = icebreaker[card_array_index];
          modalTitle.textContent = title;
          modalImage.src = allImgs[card_id];
          cardType.textContent = type_code.toUpperCase() + ': ';
          cardKeywords.textContent = keywords;
          cardProp.textContent = cost + 'Credits - ' + memory_cost + 'MU';
          cardText.innerHTML = full_text;
          cardModalLink.href = 'https://netrunnerdb.com/en/card/' + card_code;
          break;
        case 'r':
          var { title, type_code, keywords, cost, full_text, card_code } = resource[card_array_index];
          modalTitle.textContent = title;
          modalImage.src = allImgs[card_id];
          cardType.textContent = type_code.toUpperCase() + ': ';
          cardKeywords.textContent = keywords;
          cardProp.textContent = cost + 'Credits';
          cardText.innerHTML = full_text;
          cardModalLink.href = 'https://netrunnerdb.com/en/card/' + card_code;
          break;
        default:
          var { title, type_code, keywords, base_link, full_text, card_code, minimum_deck_size, influence_limit } = identity[0];
          modalTitle.textContent = title;
          modalImage.src = allImgs[card_id];
          cardType.textContent = type_code.toUpperCase() + ': ';
          cardKeywords.textContent = keywords;
          cardProp.textContent = minimum_deck_size + '/' + influence_limit + ' ' + base_link + 'Link';
          cardText.innerHTML = full_text;
          cardModalLink.href = 'https://netrunnerdb.com/en/card/' + card_code;
          break;
      }

      // modalTitle.textContent = identity[0].title
      // modalBodyInput.value = recipient
    });
  </script>

</body>

</html>