<%- layout('layouts/boilerplate') %>

<main class="container">
  <h1 class="text-white text-center">
    Deck Name: <%= deck_name %>
  </h1>
  <h1 class="text-white text-center">
    Deck Code: <%= deck_code %>
  </h1>
  <h5 class="text-white text-center">
    Deck Description: <%- deck_description %>
  </h5>

  <ul>
    <% for( let index = 0; index < decklist.length; index++ ) { %>

    <li class="text-white">
      <span class="tooltip-multiline tooltip-top-left" data-tooltip="<%= decklist[index][0].faction_code %> -
      <%= decklist[index][0].keywords %> - 
      <%= decklist[index][0].full_text %>">

        <%= decklist[index][0].title %>
      </span> x <%= decklist[index][1] %>
    </li>

    <% } %>
  </ul>

</main>